
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.wi {
  background-color:#333435;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}
.a{
  fill:#001a42;
}
.a,.b{
  stroke:none;
}
.b,.c{
  fill:#fff;
}
.d{
  stroke:none;
}
.e{
  fill:none;
}
.full-height{
  min-height: 85vh;
}

.a2{
  fill:#001a42;
}
.b2{
  fill:url(#a);
}
.c2,.d2{
  fill:none;stroke:#efc143;
}
.c2{
  stroke-width:18px;
}
.d2{
  stroke-width:17px;
}
.black{
  font-weight: 700;
}
.espacio-div{
  margin-left: 20px;
}